h1.h1-center {
    text-align: center;
    width: 54%;
}

span.color-blue {
    color: blue;
}

p.background-blue {
    background-color: blue;
    color: white;
    height: 100px;
    max-height: 100%;
    max-width: 54%;
    line-height: 30px;
    padding: 8px;
}

p.background-black {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 54%;
}

span.text-bottom {
    position: absolute;
    padding-top: 22px;
}