.list{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 1px solid green;
    border-radius: 8px;
    padding: 1rem;
    text-decoration: none;
    transition: 0.6s ease;
}

.list:hover{
    background-color: green;
}

.list:hover .name{
    color: white;
}

.name{
    font-size: 20px;
    font-weight: 600;
    color: lime;
}